.Characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(46, 64, 83, 0.6);
  margin-top: 50px;
  padding: 30px;
}
.containerCharacters {
  display: flex;
  justify-content: center;
}
.img-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Characters-off {
  display: none;
}

.img-characters {
  display: flex;
  justify-content: center;
}

.Characters img {
  width: 200px;
  margin: 20px;
}

.Characters button {
  width: 20%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .Characters {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .img-characters {
    display: flex;
    flex-direction: column;
  }
  .containerCharacters {
    margin: 0 20px;
  }
}
