.gameBackgroundOn {
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(46, 64, 83, 0.6);
  margin: 20px 20px;
}

.gameBackgroundOff {
  display: none;
}
.characterPlanetsDesktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.smallImg {
  width: 90px;
}

.chooseAmo {
  display: flex;
  flex-direction: column;
}

.gamedisplay {
  display: block;
}

.gamedisplay-off {
  display: none;
}
.gameBackgroundOn button {
  margin: 20px;
}

/* AJUSTEMENT DE LA TAILLE DES AMMO */
.chooseAmo img {
  width: 80%;
}

.containerWpns {
  display: flex;
  border: solid 1px;
  margin-bottom: 20px;
}

.chooseRange {
  border-left: solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* REGLAGE DU CUSTOM DE LA ROCKET ET DES TITRES DE CEUX CI*/
.customRocketContainer {
  display: flex;
  height: 200px;
}

.selectedWpns {
  font-size: 25px;
  background-color: rgba(46, 64, 83, 0.8);
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}

.customYourWpn {
  font-size: 25px;
  background-color: rgba(46, 64, 83, 0.8);
  margin: 5px;
  padding: 5px;
}
.planetRandomized {
  width: 150px;
}
.planetRandomized img {
  width: 100%;
  margin-top: 15px;
}

.descriptionRange {
  margin-top: 15px;
}
.characterPlanetsMobile {
  display: none;
}
.rocketBuildMobile {
  display: none;
}
.characterImg {
  width: 150px;
}

@media screen and (max-width: 600px) {
  .characterPlanetsMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .characterPlanetsDesktop {
    display: none;
  }
  .rocketBuildMobile {
    display: block;
  }
  .gameBackgroundOn {
    margin-top: 100px;
  }
}
