.gameBackgroundOn {
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(46, 64, 83, 0.6);
  border: solid white;
  margin: 0 20px;
}

.gameBackgroundOff {
  display: none;
}
.characterPlanets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

img {
  width: 90px;
}

.chooseWeapon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptions {
  width: 300px;
}
.gamedisplay {
  display: block;
}

.gamedisplay-off {
  display: none;
}
.descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
