.container {
  display: flex;
  justify-content: center;
}

.Rules {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(46, 64, 83, 0.6);
  padding: 50px;
  margin: 100px 30px 0 30px;
}

.Rules-off {
  display: none;
}

p {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
    padding: 0 20px;
  }
  .container button {
    margin: 20px;
  }
}
