.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comic Neue', cursive;
}

.Rules {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(46, 64, 83, 0.6);
}

.Rules-off {
  display: none;
}

.paragraph-game{
  text-align: center;
  font-size: 20px;
  
}

.paragraph-rules{
  text-align: justify;
  
}



@media screen and (max-width: 600px) {
  .container {
    margin-top: 100px;
    padding: 0 20px;
    font-family: 'Comic Neue', cursive;
  }
  .container button {
    margin: 20px;
  }
  .paragraph-rules{
    text-align: center;
    padding: 10px;
  }
  .title-rules{
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px){
  .container{
    width: 50%;
    height: 800px;
  }
  .container-game{
    display: flex;
    justify-content: center;
  }
  .Rules{
    padding: 30px;
    height: 500px;
  }
}




