.loose {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 100px; 
}

.loose img {
  width: 30%;
}

.victory {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  margin: auto;
}

.victory img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .loose img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .loose {
    margin-top: 0;
    margin-bottom: 100px;
  }
}
