.devCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
  text-align: center;
  width: 100%;
}

.all-cards {
  width: 300px;
  display: flex;
  margin: 30px;
}
.all-cards img {
  width: 100%;
}
.mainAbout {
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .devCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .all-cards {
    margin: 20px;
  }
  .mainAbout {
    padding-bottom: 20px;
  }
}
