.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 30px 100px 30px;
  padding: 50px;
  background-color: rgba(46, 64, 83, 0.6);
  text-align: center;
}

.contact-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.contact-lastname,
.contact-firstname,
.contact-email,
.contact-message {
  color: white;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .contact-name {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .contact-name Button {
    margin: 0 20px;
  }
  .contact-lastname {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .contact-firstname {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .contact-email {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .contact-message {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
  }

  .form-contact {
    justify-content: center;
    margin: 20px;
  }
}
