.box {
  border: solid;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 600px;
  display: flex;
  padding: 50px;
}

.caracsContainer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.planetsImg {
  align-self: center;
}

#caracList h3 {
  color: white;
  font-size: 30px;
  font-family: 'Comic Neue', cursive;
}
#caracList ul {
  font-family: 'Comic Neue', cursive;
}

h2 {
  text-align: center;
  color: white;
  font-family: 'Comic Neue', cursive;
}

html {
  height: 100vh;
  color: white;
}

.DisplayPlanets {
  display: flex;
  justify-content: center;
}
.caroussel {
  margin: 0 20px;
}
.caroussel a {
  text-decoration: none;
}
