.carousel-container {
  text-align: center;
  display: flex;
  margin-top: 50px;
  width: 100%;
  /*Set the width to 100% to don't have a very long carousel*/
}

.carousel-viewport {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  flex-grow: 1;
  color: white;
}

.carousel-nav {
  flex-basis: 35px;
  flex-shrink: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(31, 83, 115);
  outline: none;
  height: 30px;
  align-self: center;
  border: solid;
}
.carousel-nav:hover {
  border: 1px solid rgb(31, 83, 115);
}

.carousel-title {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

.renderingPlanets {
  display: flex;
  flex-direction: column;
}

.PlayingButton {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PlayingButton a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    width: 100%;
    align-self: center;
    margin: 0;
  }
  .carousel-nav {
    width: 100%;
  }
}
/*Flex for rendering planets to align all the items on column in the main page*/
