.slide {
  display: inline-block;
  vertical-align: top;
  height: 500px;
  width: 500px;
  padding: 5px;
  white-space: normal;
}
.slide:last-child {
  border-right: none;
}

.slide:hover {
  transform: scale(1.5);
}
