.slide {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  padding: 5px;
  margin: 25px;
  white-space: normal;
  color: white;
}

.slide:last-child {
  border-right: none;
}
.hori {
  display: inline-block;
  vertical-align: middle;
}
a {
  color: white;
}

@media screen and (max-width: 600px) {
  .slide {
    width: 50%;
    align-self: center;
  }
}
