body {
  margin: 0;
  padding: 0;
}
.accessApp h1 {
  margin-bottom: 70px;
}
.accessApp p {
  color: white;
  font-family: 'Comic Neue', cursive;
  margin-bottom: 70px;
}

.accessApp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  height: 300px;
  margin-top: 100px;
  text-align: center;
  font-family: 'Comic Neue', cursive;
}
.accessApp button {
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .accessApp button {
    padding: 10px;
    align-self: center;
    font-size: 15px;
  }
  .accessApp p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .accessApp h1 {
    margin: 1px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
  }
  .accessApp {
    margin: 70px 30px 0 30px;
  }
}
