p {
  color: blue;
}

.accessApp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  width: 50%;
  height: 400px;
  margin: auto;
  text-align: center;
  border: solid black 2px;
}
