#map {
  background-image: url('map3.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
}

.issContainer {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.issContainer h1 {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Comic Neue', cursive;
}

/*J'ai désactiver le code ci-dessous car button
 styliser par Material UI*/

/* .issContainer button {
  align-self: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: rgb(31, 83, 115);
  box-shadow: 10px 10px 5px 0px rgba(70, 45, 45, 0.75);
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: 'Comic Neue', cursive;
} */
.issContainer button {
  margin: 20px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.issContainer button:hover {
  animation: bounce 1s;
}

.longitude {
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
  margin: 0;
}
.latitude {
  font-family: 'Comic Neue', cursive;
  font-size: 20px;
}

.leaflet-container {
  width: 500px;
  height: 400px;
}
